[Unit]
Description=MsSystem Gateway

[Service]
WorkingDirectory=/webroot/mssystem/api/gateway/linux-x64/publish/
ExecStart=/usr/bin/dotnet /webroot/mssystem/api/gateway/linux-x64/publish/MsSystem.Gateway.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=mssystem-gateway-log
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
[Install]
WantedBy=multi-user.target
