@{
    ViewData["Title"] = "ERROR";
    Layout = "~/Views/Shared/_LayoutJQ.cshtml";
}
<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">服务器内部错误</h3>

    <div class="error-desc">
        服务器好像出错了...
    </div>
</div>